name: Meow Container

on:
  push:
    branches:
      - '**'
      - '!dependabot/**'
    tags:
      - '**'
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  packages: write
  security-events: write

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      # Step 1: Checkout code
      - uses: actions/checkout@v6

      # Step 2: Build the Docker image and tag it for GHCR
      - name: Build container image
        run: |
          docker build -t ubuntu-vnc .

      # Step 3: Tag the image for GitHub Container Registry
      - name: Tag container image
        run: |
          docker tag ubuntu-vnc ghcr.io/${{ github.repository_owner }}/ubuntu-vnc:latest
          docker tag ubuntu-vnc ghcr.io/${{ github.repository_owner }}/ubuntu-vnc:1.0.1

      # Step 4: Login to GHCR
      - name: Docker login
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo $GHCR_TOKEN | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      # Step 5: Push image to GHCR
      - name: Push the container image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/ubuntu-vnc:latest
          docker push ghcr.io/${{ github.repository_owner }}/ubuntu-vnc:1.0.1

      # Step 6: Logout from GHCR
      - name: Docker logout
        if: always()
        run: docker logout ghcr.io
